<figure>
    <img class="illustration" src="{{comics.image.url}}" alt="{{ comics.title }}" title="{{ comics.text|safe }}">
    <figcaption>
        <em>{{ comics.text|safe }}</em>
    </figcaption>
</figure>

{% if comics.transcription %}
<div {% if not show_transcription %}style="display:none" {% endif %}class="transcription" id="transcription">
{{ comics.transcription|linebreaks }}
</div>
{% endif %}

{% if comics.comment %}
<span id="comment_button">{{ comics.comment_title }}</span>
<div id="comment">
{{ comics.comment|safe }}
</div>
{% endif %}

<div class="original">
<a href="http://xkcd.com/{{comics.cid}}/" target=_blank>Оригинал</a>
</div>
