{% extends "comics/base.html" %}

{% block title %}ru_xkcd - {{comics.title}}{% endblock %}

{% block content %}
<h1>{{comics.title}}</h1>

{% include "comics/navigation.html" %}
<div class="clearer"></div>

{% if code %}
<div class="code">
{% filter force_escape %}
<a href="http://xkcd.com/{{comics.cid}}/" target="_blank"><img src="{{comics.get_image_url}}" border="0" alt="{{comics.title}}"></a>
<p>{{comics.text}}
{% if comics.comment %}
<p><lj-cut text="дополнительная информация">
<hr size=1 width="80%">
<p>{{comics.comment}}
</lj-cut>
{% endif %}
{% endfilter %}
</div>
{% endif %}

{% ifequal comics.author user %}
<div class="buttons">
<form action="{% url comics.views.edit comics.cid %}" method="post">
<input type="submit" name="edit" value="Редактировать">
</form>
{% if not code %}
<form action="" method="post">
<input type="submit" name="code" value="Показать код">
</form>
{% endif %}
</form>
</div>
{% endifequal %}

{% include "comics/comics.html" %}

{% include "comics/navigation.html" %}
<div class="clearer"></div>
{% endblock %}
