{% extends "base.html" %}

{% block title %}{{comics.title}}{% endblock %}

{% block content %}
<h1>{{comics.title}}</h1>

{% ifequal lj "error" %}
<h2>Произошла ошибка: {{ msg }}</h2>
{% endifequal %}

{% ifequal lj "updated" %}
<h2>Запись обновлена.</h2>
{% endifequal %}

{% ifequal lj "published" %}
<h2>Запись создана.</h2>
{% endifequal %}

{% include "comics/navigation.html" %}
<div class="clearer"></div>

{% if code %}
<div class="code">
{% filter force_escape %}
{% include "comics/code.html" %}
{% endfilter %}
</div>
{% endif %}

{% ifequal comics.author user %}
<div class="buttons">
<form action="{% url comics.views.edit comics.cid %}" method="post">
<input type="submit" name="edit" value="Редактировать">
</form>
{% if not code %}
<form action="{% url comics.views.detail comics.cid %}" method="post">
<input type="submit" name="code" value="Показать код">
</form>
{% endif %}
{% if lj_post %}
<form action="{% url livejournal.views.post comics.cid %}" method="post">
<input type="submit" name="update_lj" value="Обновить ЖЖ">
</form>
{% else %}
<form action="{% url livejournal.views.post comics.cid %}" method="post">
<input type="submit" name="post_lj" value="Публиковать в ЖЖ">
</form>
{% endif %}
</form>
</div>
{% endifequal %}

{% include "comics/comics.html" %}

{% include "comics/navigation.html" %}

<div class="bookmark">
{% include "comics/bookmark.html" %}
</div>

<div class="clearer"></div>
{% endblock %}
