{% extends "comics/base.html" %}

{% block title %}ru_xkcd - Список{% endblock %}

{% block content %}
<h1>Список</h1>

{% if comics_list %}
{% for comics in comics_list %}
<a href="{{comics.get_absolute_url}}"><img class={% if not comics.visible %}invisible{% else %}thumb{% endif %} hspace=4 vspace=4 border=0 src="{{comics.get_thumbnail_url}}" width=48 height=48 title="{{comics.cid}}: {{comics.title}}" alt="{{comics.title}}"></a>
{% endfor %}
{% else %}
   <p>No comics are available.</p>
{% endif %}
{% endblock %}
