{% extends "base.html" %}

{% block title %}Список неопубликованных{% endblock %}

{% block content %}
<h1>Неопубликованное</h1>

{% if comics_list %}
<ul class="unpublished_list">
{% for comics in comics_list %}
<li>
<a href="{{comics.get_absolute_url}}">
<img border=0 src="{{comics.thumbnail.url}}" width=48 height=48 title="{{comics.cid}}: {{comics.title}}" alt="{{comics.title}}">
 {{comics.cid}}: {{comics.title}} (<span {% ifequal comics.author user %}class="me"{% endifequal %}>{{ comics.author }}</span>)</a>


{% endfor %}
</ul>
{% else %}
   <p>Нет неопубликованных комиксов.</p>
{% endif %}
{% endblock %}
