{% extends "base.html" %}

{% block title %}Список по номерам{% endblock %}

{% block content %}
  {% if comics_list %}
    <ul class="list">
    {% for comics in comics_list %}
      {% if comics.fake %}
        <li class="fake">
	{% if  user.is_authenticated %}
          <a href="{{comics.get_absolute_url}}">
          {{comics.cid}}
          </a>
	{% else %}
          {{comics.cid}}
        {% endif %}
        </li>
      {% else %}
        <li class="{% if comics.visible %}real {% if user.is_authenticated and not comics.transcription %}untranscribed{% endif %}{% else %}invisible{% endif %}"><a href="{{comics.get_absolute_url}}">{{comics.cid}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <div class="clearer"></div>
  {% else %}
    <h2>Нет комиксов.</h2>
  {% endif %}
{% endblock %}
