<ul class="nav">
<li><a class="nav" href="{% ifnotequal first.id comics.id %}{{first.get_absolute_url}}{% else %}#{% endifnotequal %}">|&lt;</a>
<li><a class="nav" href="{% if prev %}{{prev.get_absolute_url}}{% else %}#{% endif %}">&lt;туда</a>
<li><a class="nav" href="{{random}}">наугад</a>
<li><a class="nav" href="{% if next %}{{next.get_absolute_url}}{% else %}#{% endif %}">сюда&gt;</a>
<li><a class="nav" href="{% ifnotequal last.id comics.id %}{{last.get_absolute_url}}{% else %}#{% endifnotequal %}">&gt;|</a>
</ul>
