{% extends "base.html" %}

{% block title %}Статистика{% endblock %}

{% block content %}
<h1>Статистика</h1>
<div class="stat">
<table>
<tr><th>Всего комиксов:</th><td>{{ comics }}</td></tr>
<tr><th>Из них неопубликованных:</th><td>{{ unpublished }}</td></tr>
<tr><th>С транскрипциями:</th><td>{{ transcriptions }}</td></tr>
<tr><th>С адресами в ЖЖ:</th><td>{{ lj }}</td></tr>
<tr><th>Неподтверждённх транскрипций:</th><td>{{ unapproved_transcriptions }}</td></tr>
<tr><th>Переводчиков:</th><td>{{ authors }}</td></tr>
<tr><th>Из них администраторов:</th><td>{{ superusers }}</td></tr>
</table>
</div>
{% endblock %}
