{% extends "admin/change_form.html" %}

{% block form_top %}
{% if original %}
<h2>Code
<a href="{{original.get_absolute_url}}" title="Preview" target=_blank><img src="{{original.get_thumbnail_url}}" alt="{{original.title}}" align=right></a>
</h2>
<p>{{original.title}}
<p>
{% filter force_escape %}
<a href="http://xkcd.com/{{original.cid}}/" target="_blank"><img src="{{original.get_image_url}}" border="0" alt="{{original.title}}"></a>
<p>{{original.text}}
{% if original.comment %}
<p><lj-cut text="дополнительная информация">
<hr size=1 width="80%">
<p>{{original.comment}}
</lj-cut>
{% endif %}
{% endfilter %}
{% endif %}
{% endblock %}
